/* google font style */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>
/* common and utilities styles */
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


/* common style ends */

/* header part styles starts here */
.header-area{
  background-color: blue;
  margin: o;
  width: 100%;
}
.header-area:hover .header-body-right{
  transform: rotate(360deg) scale(1.3);
}
/* menu bar style */

.menu-bar{
  height: 44px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-content{
  height: 24px;
  width: 587px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  }
.menu-content li a{
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 16px;
  
}
.log-in{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 123px;
  height: 44px;
  list-style: none;
  background-color: #E02C6D;
  color:aliceblue;
}
.log-in a{
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
  font-weight: 500;
}
/* menu bar style ends */

/* header-body style */
.header-body{
  display: flex;
}
.header-body-left{
  display: flex;
  flex-direction: column;
}
.header-title{
  width: 485px;
  height: 230px;
  font-size: 64px;
  color: aliceblue;
  margin: 121px 102px 27px 156px;
}
.live-watch{
  width: 123px;
  height: 24px;
  margin-left: 156px;
  background-color: #E02C6D;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.live-watch a{
  text-decoration: none;
  color: aliceblue;
}
.header-body-right{
  margin-top: 67px;
  margin-right: 140.99px;
  margin-bottom: 86px;
  transition: transform 5s 1s ease-in-out;
}
.header-body-right img{
  width: 556.01px;
  height: 438px;
}
/* header style ends here */

/* main part style */
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-1{
  width: 1050px;
}
.players{
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  margin-top: 70px;
  grid-row-gap: 30px;
  grid-column-gap: 27px;
  justify-items: center;
  align-items: center;
}
.player{
  width: 330px;
  height: 474px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px lightblue;
  padding: 10px;
}
.player-img img{
  width: 300px;
  height: 256px;
}
.player-info{
  width: 300px;
  height: 154px;
}
.player-info h2{
  font-size: 28px;
}
/* lower main style */
.lower-main{
  display: flex;
  width: 1050px;
  
  margin-top: 120px;
  margin-bottom: 120px;
}
.lower-main-left{
  width: 466px;
  height: 309px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px lightblue;

  padding: 10px;
}
.click-to-watch{
  width: 173px;
  height: 44px;
  background-color: #E02C6D;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.click-to-watch a{
  color: aliceblue;
  text-decoration: none;
  font-size: 14px;
}
.lower-main-left h1{
  width: 466px;
  height: 120px;
  font-size: 48px;
}
.lower-main-right{
  margin-left: 30px;
  box-shadow: 0 0 25px lightblue;
}
.lower-main-right img{
  width: 567px;
  height: 427px;
}
/* footer style */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot-ball-logo img{
 width: 484px;
 height: 110px;
}
.social-media{
  width: 300px;
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* media queary styles for mobile device */
@media only screen and (max-width:688px) {
  .header-area{
    display: flex;
flex-direction: column;
    flex-wrap: wrap;
  }
  .header-body-left{
    width: 300px;
  }
  .header-body-right{
    width: 300PX;
  }
  .players{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .lower-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu-bar{
    display: flex;
    flex-direction: column;
  }
  .foot-ball-logo{
  width: 300px;
  }
  .social-media{
    width: 300px;
  }

  
}
